:root{
    --dark-blue: #212529;
    --gray: #707070;
    --green: #a2e6ab;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo { 
    width: 150px;
}

.font-card {
    color: var(--gray)
    font: size 16px;
}

.green {
    color:var(--green)
}


nav {
    background-color: var(--green)
}


.contact {
    background-color: var(--green);
    color: white
}

.text-footer {
    color:var(--gray)
}
